extends layout

block content
  div.container.mt-5
    div.text-center
      h1 About ClientTell CRM
      p We help businesses streamline client management, improve workflow, and optimize sales pipelines with cutting-edge CRM solutions.

    div.divider

    div.container.our-team-section
      div.row.justify-content-center
        div.col-md-6.text-center
          h3 Our Mission
          p Empower businesses with smart tools for managing clients, projects, and financial transactions—all in one place.

    div.divider

    div.container.about-section
        h2.text-center.mb-4 Why Choose Us?
        div.row
            each item in [{ title: "Secure & Efficient Client Management", desc: "Using latest security measures to protect you and your clients"}, {title: "User-Friendly Design & Intuitive Features", desc: "Intuitive Design With Ease Of Use"}, { title:"Detailed Project & Invoice Tracking", desc: "Easily Track Employees, Clients, Projects, Invoices, and Tasks"}]
                div.col-md-4
                    div.card.feature-card
                        div.card-body
                            h4.home-card= item.title
                            p.item-desc= item.desc

    div.divider

    div.container.our-team-section
      h2.text-center.mb-5 Our Team
      div.row.justify-content-center
          div.col-md-4.text-center
              img(src="/images/PatrickMoore.jpg" alt="Photo of Patrick Moore" class="team-photo")
              h4.mt-3 Patrick Moore
              br(style="padding-bottom: 15px;")
              p.lead Methodical. Resourceful. Committed to intuitive, user-friendly design.
              
    div.text-center.mt-5
      a.btn.btn-lg(href="/contact") Get in Touch